.img-row{
    margin-top: 100px;
}

.avatar:hover{
    box-shadow: 2px 1px 5px 6px #e9ecef;
    cursor: pointer;
}

.card-block{
    padding: 20px;
}

.selected{
    box-shadow: 2px 1px 5px 6px #dd0f3c;
}

.players-table {
    color: white;
}

.instruction h1 {
    font-weight: 800;
    padding-bottom: 20px;
}

.instruction button {
  
    margin-bottom: 20px;
}


.noSelect{
    opacity: 0.5;
    pointer-events: none;
}

.white-color{
    color:white;
}