<div class="gradient">
    <div class="title-div">
      <h1 class="brand-lg">Dave's Greatest <b>Pool Tracker</b><br/>Simple, Easy and <b>Free.</b></h1>
      <h1 class="brand-small">Dave's Greatest <br /><b>Pool Tracker</b></h1>
      <div class="col-md-6 left-side">
      <button  routerLink="/players" type="button" class="btn btn-outline-light">Create New Game</button></div>
        <div class="col-md-6 left-side">
      <button type="button" class="btn btn-outline-light">View Leaderboard</button></div>
    </div>
  </div>